<body class="text-center">
    <main class="form-signin">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <h1 class="h3 mb-3 fw-normal">Please Login</h1>
            <div class="form-floating">
                <input type="text" #name="ngModel" [(ngModel)]="model.userName" class="form-control" id="userName"
                    name="userName" placeholder="Username" required autofocus>
                <label for="floatingInput">User Name</label>
            </div>
            <div class="form-floating">
                <input type="password" #name="ngModel" [(ngModel)]="model.password" class="form-control" id="password"
                    name="password" placeholder="Password" required>
                <label for="floatingPassword">Password</label>
            </div>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
        </form>
    </main>
</body>